html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;

  font-family: "Dancing Script", cursive;
  font-size: 36px;
  font-weight: 500;
}

p {
  margin: 0;
}

#content {
  height: 100%;
  background-image: url(../src/greek-pie-bg.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: lightgray;
}

.holy-grail {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 10fr 1fr;
}

.nav {
  text-align: center;
  background-color: rgba($color: lightgray, $alpha: 0.7);

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
}

.title p {
  font-weight: 600;
  font-size: 48px;
  color: darkslategray;
}

.ul-links {
  list-style: none;
  padding: 4%;

  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: darkslategray;

    &:hover {
      color: chocolate;
    }
  }
}

.main {
  height: 100%;
  display: grid;
  align-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(210px, 410px));
  grid-auto-columns: minmax(210px, 410px);
  grid-auto-rows: minmax(230px, 470px);
  gap: 8px;
  justify-content: center;
  align-self: center;
}

.card {
  width: clamp(200px, 80%, 400px);
  height: clamp(220px, 100%, 460px);
  padding: 1%;
  background-color: rgba($color: silver, $alpha: 0.7);
  border: solid 2px chocolate;
  border-radius: 10px;
  font-family: "Fira Sans", sans-serif;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
}

.card-title {
  font-size: 36px;
  color: darkslategray;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  .price {
    text-align: end;
  }
}

.card-body {
  height: 100%;
  font-size: 28px;
  font-style: italic;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: clamp(180px, 90%, 380px);
    height: clamp(180px, 90%, 380px);
  }
}

.footer {
  display: flex;
  justify-content: center;

  p {
    margin: 2%;
    background-color: rgba($color: darkslategray, $alpha: 1);
    text-align: center;
    color: chocolate;
  }
}
